@use '../../../../styles/base' as b;

.blog_card {
  height: 50rem;
  position: relative;

  .avatar {
    position: relative;
    left: 50%;
    top: 0;
    height: 20rem;
    width: 20rem;
    transform: translate(-50%, -0%);
    border-radius: 10%;
  }

  .text {
    margin: 0;
    position: absolute;
    top: 25rem;
    left: 5%;
    right: 5%;
    font-size: 4rem;
    line-height: 6rem;
  }

  .color {
    font-weight: 700;
    color: b.$hoverColor;
  }
}