@use '../../../../styles/base' as b;

.blog_card {
  height: 88rem;
  position: relative;

  .avatar {
    position: relative;
    left: 40%;
    top: 0;
    height: 20rem;
  }

  .text {
    margin: 0;
    position: absolute;
    top: 30rem;
    left: 5rem;
    font-size: 8rem;
    line-height: 12rem;
  }

  .color {
    font-weight: 700;
    color: b.$hoverColor;
  }
}