@use 'base' as b;

.trans {
  transition: all 0.3s;
}

.hover {
  @extend .trans;
}

.hover:hover {
  background-color: b.$hoverColor;
}

.btnBase {
  position: absolute;
  width: b.$btnWidth;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  bottom: 0;
  border-radius: 14px;
  font-size: 18px;
  cursor: pointer;
  background-color: b.$themeColor1;
  @extend .hover;
}

.row-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-right: 8px;
  /* 与行内容之间的间距 */
}

.tagBase {
  display: inline-block;
  padding: 1px;
  margin: 2px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  user-select: none;
  color: b.$textColor;
  border-radius: 10px;
  cursor: pointer;
  @extend .hover;
}