@use '../../styles/base' as b;

.main {
  // min-height: calc(100vh - #{b.$footerHeight + 2 * b.$space});
  min-height: calc(100vh - #{b.$footerHeight});
  // margin-top: b.$navHeight;

  // 前台样式
  .m_center {
    width: b.$centerWidth;
    margin: auto;
    min-height: 100%;
  }
  // 管理后台样式
  .m_center_back{
    width: 100vw;
  }
}


@media screen and (max-width: 1240px) {
  .main {
    min-height: calc(100vh - 70rem);

    .m_center {
      width: 100vw;
    }
  }
}
