@use '../../../../styles/base' as b;
@use '../../../../styles/style.scss';

.tagBase {
  height: 26px;
  font-size: 26px;
}

.section_card {
  cursor: pointer; //用于指定当用户将鼠标指针悬停在某个元素上时应该显示的鼠标光标类型
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: none;
  align-items: flex-start;

  .img {
    flex: 0 0 auto;
    margin-right: 20px;
    width: 179px;
    height: 140px;
    border-radius: 10%;
    max-width: 100%;
  }

  .article_container {
    flex: 1;
    top: 110px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .title {
    // margin: 20px 0 10px 0;
    height: 40px;
    align-items: center; //将容器内的项目（items）在交叉轴（cross axis）方向上居中对齐
    justify-content: center; //用于在Flex容器的主轴（main axis）上对齐和分配子元素的空间
    font-size: 28px;
    font-weight: bold;
    color: b.$textColor;
  }

  .content {
    justify-content: right;
    max-width: 100%;
    min-height: 60px;
    margin: 0;
    /* 设置外边距为0 */
    color: b.$textColor;
    /* 这里似乎是一个变量，用于设置文本颜色，但这不是标准的CSS。如果b.$textColor没有在JS或其他CSS预处理器中定义，这将不会生效 */
    font-size: 18px;
    /* 设置字体大小 */
    overflow: hidden;
    -webkit-line-clamp: 3;
    /* 限制显示的行数 */
    /* 当内容溢出容器时，隐藏溢出的部分 */
    text-overflow: ellipsis;
    /* 当文本溢出时，用省略号表示被裁剪的文本 */
    display: -webkit-box;
    /* 使用WebKit的盒子模型布局（这是一个非标准的、特定于WebKit的属性，但已被广泛用于实现文本截断） */
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .c_home_article_show_operate {
    position: relative;
    bottom: 0;
    height: 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 3px;


    .date {
      @extend .tagBase;
      // position: absolute;
      // bottom: 0;
      // justify-content: center;
      // left: 140px;
    }

    .tags {
      // position: absolute;
      // bottom: 0;
      // left: 300px;

      .tag {
        @extend .tagBase;
        // position: relative;
        // display: inline-block;
        // text-align: center;
      }
    }
  }
}

.section_card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

/* 媒体查询 */
@media (max-width: 1240px) {
  .section_card {
    flex-direction: row;
    /* 在小屏幕上使用列布局 */
    align-items: center;
    /* 允许子元素在交叉轴上伸展 */
  }

  .section_card .img {
    width: auto;
    /* 图片占据全部宽度 */
    height: auto;
    /* 高度自适应 */
    margin-right: 20px;
    /* 移除右侧边距 */
  }

  .section_card .article_container {
    top: 0;
    /* 移除顶部的偏移 */
    padding: 10px;
    /* 添加一些内边距以改善可读性 */
  }

  .section_card .title {
    height: auto;
    /* 允许标题根据其内容调整高度 */
    justify-content: flex-start;
    /* 标题从容器的开始处对齐 */
  }

  .section_card .content {
    height: auto;
    /* 内容区域的高度自适应 */
  }
}