@use './styles/base' as b;

html,
body,
#root {
  height: 100%;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
}

body {
  /* 隐藏x轴导航条 */
  overflow-x: hidden;
  overflow-y: overlay;
  background-color: b.$bodyColor;
}

body::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 14px;
}

body::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 7px;
  background-color: b.$themeColor2;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: b.$hoverColor;
}

body::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  border-radius: 7px;
  background: rgba(0, 0, 0, 0);
}

div,
input {
  box-sizing: border-box;
}

input,
textarea {
  background: none;
  outline: none;
  border: none;
  border-radius: 0;
}

img {
  -webkit-user-drag: none;
}

::selection {
  background: b.$themeColor1 !important;
}

.justify_content_center {
  justify-content: center !important;
}

.main_father {
  padding: 8px 12px 0 12px;
}

.d_flex {
  display: flex;
  flex-direction: row;
}

.all_card {
  margin-bottom: b.$box_space;
  border-radius: b.$bigRadius;
  overflow: hidden;
  background-color: b.$themeColor;
  color: b.$textColor;
  padding: b.$space;
}

.aside {
  width: b.$asideWidth;
  overflow: hidden;
  display: block;
  margin-left: 30px;
  margin-top: b.$navHeight;
}
.bordered_div {
  border: 1px solid black;
}

// antd的message
.ant-message-notice-content {
  background-color: b.$themeColor1 !important;
  border-radius: 14px !important;
  font-family: 'dengxian' !important;
  color: b.$textColor !important;
  font-size: 18px !important;
}

@media screen and (max-width: 1240px) {

  body::-webkit-scrollbar,
  div::-webkit-scrollbar {
    display: none;
  }

  .ant-message-notice-content {
    border-radius: 8rem !important;
    font-size: 16rem !important;
  }
}